h1 {
border: solid;
color: white;
background-color: green;
}
nav ul{
  color: black;
  background: white;
}

.citypic {
  border: solid;
  color: black;
  height: 400px;
  width: 400px;
}
.headings{
color: blue;

}

.inlinenav{
  display: inline-block;
  margine: 50px;
}
